body{
	background-image: url("https://www.bing.com/images/search?view=detailV2&ccid=SSveNWp%2b&id=B155DAEE23400486C4CA7D248B0F1B1309EF67B2&thid=OIP.SSveNWp-NNCJGXk9LLGe1AHaEo&mediaurl=https%3a%2f%2fhdwallsource.com%2fimg%2f2014%2f8%2fgreen-background-pictures-17225-17781-hd-wallpapers.jpg&exph=1800&expw=2880&q=hd+background+image&simid=608017687463134387&selectedIndex=0");
}
h1
{
	color: purple;
	text-align: center;
	background-color: yellow;
	border: 5px solid rgba(255,0,0,0.6)
}
h2{
	text-align: center;
    
}

a {
	display: inline-block;
	color: red;

}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  
}
img {
    border-radius: 50%;
}
h2{
	font-size: 30px;
	font-family:Times new roman;

}
